.slide {
    background-color: #ffffff99;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .slide .overlap-wrapper {
    background-color: #ffffff99;
    overflow: hidden;
    width: 1920px;
    height: 12646px;
  }
  
  .slide .overlap {
    position: relative;
    width: 3589px;
    height: 12775px;
    top: -49px;
    left: -914px;
  }
  
  .slide .rectangle {
    position: absolute;
    width: 1920px;
    height: 4391px;
    top: 628px;
    left: 914px;
    background-color: #7d1818;
  }
  
  .slide .underground {
    position: absolute;
    width: 1920px;
    height: 4847px;
    top: 49px;
    left: 914px;
    background-blend-mode: multiply;
    object-fit: cover;
  }
  
  .slide .background {
    position: absolute;
    width: 1918px;
    height: 3000px;
    top: 9005px;
    left: 914px;
    background-color: #fff8cd;
  }
  
  .slide .funnel {
    position: absolute;
    width: 1920px;
    height: 1043px;
    top: 8788px;
    left: 914px;
  }
  
  .slide .flame {
    position: absolute;
    width: 1217px;
    height: 910px;
    top: 3702px;
    left: 1327px;
  }
  
  .slide .conveyor-belt {
    position: absolute;
    width: 1920px;
    height: 3126px;
    top: 1263px;
    left: 914px;
  }
  
  .slide .conveyor {
    position: absolute;
    width: 3589px;
    height: 2877px;
    top: 1262px;
    left: 0;
  }
  
  .slide .div {
    position: absolute;
    width: 20px;
    height: 2554px;
    top: 654px;
    left: 943px;
    background-color: #474747;
    transform: rotate(-43.59deg);
  }
  
  .slide .rectangle-2 {
    position: absolute;
    width: 20px;
    height: 2694px;
    top: 385px;
    left: 907px;
    background-color: #474747;
    transform: rotate(-42.50deg);
  }
  
  .slide .rectangle-3 {
    position: absolute;
    width: 20px;
    height: 2554px;
    top: 262px;
    left: 1288px;
    background-color: #474747;
    transform: rotate(-21.60deg);
  }
  
  .slide .overlap-group {
    position: absolute;
    width: 1581px;
    height: 2877px;
    top: 0;
    left: 2008px;
  }
  
  .slide .rectangle-4 {
    position: absolute;
    width: 20px;
    height: 2554px;
    top: 209px;
    left: 456px;
    background-color: #474747;
    transform: rotate(-161.89deg);
  }
  
  .slide .overlap-group-2 {
    position: absolute;
    width: 1519px;
    height: 2394px;
    top: 482px;
    left: 61px;
  }
  
  .slide .rectangle-5 {
    position: absolute;
    width: 20px;
    height: 2554px;
    top: 52px;
    left: 731px;
    background-color: #474747;
    transform: rotate(-146.10deg);
  }
  
  .slide .rectangle-6 {
    position: absolute;
    width: 20px;
    height: 2694px;
    top: -223px;
    left: 750px;
    background-color: #474747;
    transform: rotate(-146.10deg);
  }
  
  .slide .rectangle-7 {
    position: absolute;
    width: 20px;
    height: 2694px;
    top: -64px;
    left: 418px;
    background-color: #474747;
    transform: rotate(-161.89deg);
  }
  
  .slide .rectangle-8 {
    position: absolute;
    width: 20px;
    height: 2554px;
    top: 133px;
    left: 1357px;
    background-color: #474747;
    transform: rotate(-21.60deg);
  }
  
  .slide .garbage-group {
    height: 2711px;
    top: 1652px;
    position: absolute;
    width: 1920px;
    left: 914px;
  }
  
  .slide .img {
    height: 3345px;
    top: 1230px;
    position: absolute;
    width: 1920px;
    left: 914px;
  }
  
  .slide .cliff {
    position: absolute;
    width: 1920px;
    height: 3630px;
    top: 49px;
    left: 914px;
  }
  
  .slide .element {
    top: 184px;
    left: 1475px;
    font-family: "Paperlogy-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 100px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper {
    font-family: "Paperlogy-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 80px;
    letter-spacing: 0;
  }
  
  .slide .span {
    font-size: 128px;
  }
  
  .slide .text-wrapper-2 {
    font-size: 110px;
  }
  
  .slide .text-wrapper-3 {
    top: 157px;
    left: 1853px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 150px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .white-paper {
    position: absolute;
    width: 1920px;
    height: 3987px;
    top: 4822px;
    left: 914px;
    object-fit: cover;
  }
  
  .slide .text-wrapper-4 {
    top: 5382px;
    left: 1606px;
    font-family: "Chosun Centennial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 80px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-5 {
    top: 5490px;
    left: 2032px;
    font-family: "Chosun Centennial-Regular", Helvetica;
    font-weight: 400;
    color: #7a7a7a;
    font-size: 32px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .union {
    position: absolute;
    width: 1920px;
    height: 705px;
    top: 4242px;
    left: 914px;
  }
  
  .slide .textbox {
    position: absolute;
    width: 954px;
    height: 595px;
    top: 5803px;
    left: 1444px;
  }
  
  .slide .raining-garbage {
    position: absolute;
    width: 1920px;
    height: 699px;
    top: 4650px;
    left: 914px;
  }
  
  .slide .squaredump {
    position: absolute;
    width: 905px;
    height: 663px;
    top: 7640px;
    left: 1288px;
  }
  
  .slide .overlap-2 {
    position: relative;
    width: 914px;
    height: 672px;
    top: -6px;
    left: -9px;
  }
  
  .slide .squaredump-2 {
    position: absolute;
    width: 897px;
    height: 618px;
    top: 51px;
    left: 17px;
  }
  
  .slide .squaredump-ripped {
    position: absolute;
    width: 366px;
    height: 132px;
    top: 0;
    left: 101px;
  }
  
  .slide .squaredump-ripped-2 {
    position: absolute;
    width: 152px;
    height: 206px;
    top: 21px;
    left: 0;
  }
  
  .slide .squaredump-ripped-3 {
    position: absolute;
    width: 94px;
    height: 195px;
    top: 409px;
    left: 815px;
  }
  
  .slide .squaredump-ripped-4 {
    position: absolute;
    width: 455px;
    height: 398px;
    top: 63px;
    left: 431px;
  }
  
  .slide .squaredump-ripped-5 {
    position: absolute;
    width: 263px;
    height: 103px;
    top: 569px;
    left: 57px;
  }
  
  .slide .squaredump-ripped-6 {
    position: absolute;
    width: 110px;
    height: 430px;
    top: 197px;
    left: 2px;
  }
  
  .slide .squaredump-ripped-7 {
    position: absolute;
    width: 583px;
    height: 128px;
    top: 542px;
    left: 299px;
  }
  
  .slide .textbox-2 {
    position: absolute;
    width: 986px;
    height: 567px;
    top: 7211px;
    left: 1636px;
  }
  
  .slide .dumptruck {
    position: absolute;
    width: 463px;
    height: 274px;
    top: 7635px;
    left: 1784px;
  }
  
  .slide .candle-chart {
    position: absolute;
    width: 983px;
    height: 667px;
    top: 6475px;
    left: 1304px;
  }
  
  .slide .dot-line {
    position: absolute;
    width: 69px;
    height: 226px;
    top: 6323px;
    left: 1680px;
  }
  
  .slide .dot-line-2 {
    position: absolute;
    width: 105px;
    height: 251px;
    top: 7047px;
    left: 2069px;
  }
  
  .slide .dot-line-3 {
    position: absolute;
    width: 693px;
    height: 1365px;
    top: 7709px;
    left: 1773px;
  }
  
  .slide .f-fba-c {
    position: absolute;
    width: 748px;
    height: 595px;
    top: 8494px;
    left: 2086px;
    object-fit: cover;
  }
  
  .slide .rectangle-9 {
    position: absolute;
    width: 786px;
    height: 539px;
    top: 8577px;
    left: 914px;
    object-fit: cover;
  }
  
  .slide .text-wrapper-6 {
    width: 59px;
    height: 647px;
    top: 8880px;
    left: 1871px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ff0000;
    font-size: 80px;
    text-align: right;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .rectangle-10 {
    position: absolute;
    width: 813px;
    height: 502px;
    top: 9737px;
    left: 1490px;
    background-color: #000000;
  }
  
  .slide .text-wrapper-7 {
    height: 38px;
    top: 9732px;
    left: 2045px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #d5d5d5;
    font-size: 28px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-8 {
    height: 47px;
    top: 9787px;
    left: 1713px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-9 {
    height: 42px;
    top: 9853px;
    left: 1849px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-10 {
    height: 47px;
    top: 9944px;
    left: 1763px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-11 {
    height: 42px;
    top: 9990px;
    left: 1855px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-12 {
    height: 47px;
    top: 10089px;
    left: 1762px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-13 {
    height: 42px;
    top: 10138px;
    left: 1855px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .arrow-chart {
    position: absolute;
    width: 1709px;
    height: 797px;
    top: 9971px;
    left: 1048px;
  }
  
  .slide .recycle {
    position: absolute;
    width: 169px;
    height: 169px;
    top: 9759px;
    left: 2503px;
  }
  
  .slide .text-wrapper-14 {
    height: 35px;
    top: 9950px;
    left: 2519px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-15 {
    height: 30px;
    top: 9985px;
    left: 2522px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .svgs {
    position: absolute;
    width: 1621px;
    height: 551px;
    top: 10546px;
    left: 1080px;
  }
  
  .slide .text-wrapper-16 {
    height: 35px;
    top: 430px;
    left: 8px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-17 {
    height: 70px;
    top: 448px;
    left: 736px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-18 {
    height: 35px;
    top: 447px;
    left: 1086px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .sea-and-sun {
    position: absolute;
    width: 192px;
    height: 192px;
    top: 203px;
    left: 0;
  }
  
  .slide .factory {
    position: absolute;
    width: 181px;
    height: 181px;
    top: 237px;
    left: 748px;
  }
  
  .slide .overlap-3 {
    position: absolute;
    width: 314px;
    height: 234px;
    top: 273px;
    left: 307px;
  }
  
  .slide .overlap-4 {
    position: absolute;
    width: 231px;
    height: 234px;
    top: 0;
    left: 0;
  }
  
  .slide .dumper {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 0;
    left: 0;
  }
  
  .slide .text-wrapper-19 {
    height: 30px;
    top: 204px;
    left: 109px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-20 {
    height: 35px;
    top: 176px;
    left: 145px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .overlap-5 {
    position: absolute;
    width: 124px;
    height: 86px;
    top: 67px;
    left: 190px;
  }
  
  .slide .recycled-plastic-bag {
    position: absolute;
    width: 86px;
    height: 86px;
    top: 0;
    left: 0;
  }
  
  .slide .trashcan {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 14px;
    left: 67px;
  }
  
  .slide .recycle-2 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 291px;
    left: 1115px;
  }
  
  .slide .overlap-6 {
    position: absolute;
    width: 118px;
    height: 83px;
    top: 0;
    left: 1485px;
  }
  
  .slide .bottle-of-water {
    position: absolute;
    width: 83px;
    height: 83px;
    top: 0;
    left: 35px;
  }
  
  .slide .pill-bottle {
    position: absolute;
    width: 61px;
    height: 61px;
    top: 22px;
    left: 0;
  }
  
  .slide .text-wrapper-21 {
    height: 35px;
    top: 96px;
    left: 1508px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-22 {
    height: 30px;
    top: 486px;
    left: 1121px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-23 {
    height: 30px;
    top: 521px;
    left: 772px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .text-wrapper-24 {
    height: 30px;
    top: 468px;
    left: 48px;
    font-family: "THEBignews-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .bottom-box {
    position: absolute;
    width: 1920px;
    height: 1140px;
    top: 11566px;
    left: 914px;
    background-color: #000000;
    border: 1px solid;
  }
  
  .slide .p {
    width: 645px;
    height: 649px;
    top: 12126px;
    left: 2109px;
    text-shadow: 0px 4px 4px #ffffff40;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Playfair Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .slide .halftone {
    position: absolute;
    width: 1921px;
    height: 541px;
    top: 11153px;
    left: 914px;
  }
  
  .slide .halftone-2 {
    width: 959px;
    left: 961px;
    position: absolute;
    height: 541px;
    top: 0;
    background-blend-mode: multiply;
    object-fit: cover;
  }
  
  .slide .halftone-3 {
    width: 960px;
    left: 0;
    position: absolute;
    height: 541px;
    top: 0;
    background-blend-mode: multiply;
    object-fit: cover;
  }
  
  .slide .lines {
    position: absolute;
    width: 1920px;
    height: 145px;
    top: 11419px;
    left: 917px;
  }
  
  .slide .line {
    height: 2px;
    top: -2px;
    position: absolute;
    width: 1917px;
    left: 0;
  }
  
  .slide .line-2 {
    height: 4px;
    top: 11px;
    position: absolute;
    width: 1917px;
    left: 0;
  }
  
  .slide .line-3 {
    height: 8px;
    top: 30px;
    position: absolute;
    width: 1917px;
    left: 0;
  }
  
  .slide .line-4 {
    height: 13px;
    top: 57px;
    position: absolute;
    width: 1917px;
    left: 0;
  }
  
  .slide .line-5 {
    height: 22px;
    top: 87px;
    position: absolute;
    width: 1917px;
    left: 0;
  }
  
  .slide .line-6 {
    height: 28px;
    top: 117px;
    position: absolute;
    width: 1917px;
    left: 0;
  }
  
  .slide .question-mark {
    position: absolute;
    width: 452px;
    height: 800px;
    top: 3717px;
    left: 1748px;
  }
  
  .slide .tashed-bottle {
    position: absolute;
    width: 866px;
    height: 979px;
    top: 11656px;
    left: 994px;
  }
  
  .slide .overlap-7 {
    position: relative;
    height: 979px;
  }
  
  .slide .group {
    position: absolute;
    width: 861px;
    height: 941px;
    top: 12px;
    left: 5px;
  }
  
  .slide .trashed-ripped-paper {
    position: absolute;
    width: 382px;
    height: 85px;
    top: 1px;
    left: 139px;
  }
  
  .slide .trashed-ripped-paper-2 {
    position: absolute;
    width: 88px;
    height: 669px;
    top: 127px;
    left: 0;
  }
  
  .slide .trashed-ripped-paper-3 {
    position: absolute;
    width: 171px;
    height: 187px;
    top: 765px;
    left: 7px;
  }
  
  .slide .trashed-ripped-paper-4 {
    position: absolute;
    width: 182px;
    height: 180px;
    top: 790px;
    left: 628px;
  }
  
  .slide .trashed-ripped-paper-5 {
    position: absolute;
    width: 155px;
    height: 174px;
    top: 0;
    left: 21px;
  }
  
  .slide .trashed-ripped-paper-6 {
    position: absolute;
    width: 547px;
    height: 93px;
    top: 886px;
    left: 114px;
  }
  
  .slide .trashed-ripped-paper-7 {
    position: absolute;
    width: 88px;
    height: 657px;
    top: 217px;
    left: 718px;
  }
  
  .slide .trashed-ripped-paper-8 {
    position: absolute;
    width: 332px;
    height: 283px;
    top: 0;
    left: 481px;
  }
  
  .slide .men-by-conveyor {
    position: absolute;
    width: 645px;
    height: 519px;
    top: 6176px;
    left: 1858px;
  }
  
  .slide .overlap-8 {
    position: relative;
    width: 661px;
    height: 527px;
    left: -10px;
  }
  
  .slide .group-2 {
    position: absolute;
    width: 571px;
    height: 509px;
    top: 0;
    left: 44px;
  }
  
  .slide .men-ripped-paper {
    position: absolute;
    width: 438px;
    height: 125px;
    top: 13px;
    left: 206px;
  }
  
  .slide .men-ripped-paper-2 {
    position: absolute;
    width: 261px;
    height: 310px;
    top: 26px;
    left: 0;
  }
  
  .slide .men-ripped-paper-3 {
    position: absolute;
    width: 306px;
    height: 248px;
    top: 271px;
    left: 6px;
  }
  
  .slide .men-ripped-paper-4 {
    position: absolute;
    width: 320px;
    height: 69px;
    top: 458px;
    left: 271px;
  }
  
  .slide .men-ripped-paper-5 {
    position: absolute;
    width: 148px;
    height: 436px;
    top: 91px;
    left: 513px;
  }
  
  .slide .boys-on-dump {
    position: absolute;
    width: 428px;
    height: 459px;
    top: 7016px;
    left: 1515px;
  }
  
  .slide .overlap-9 {
    position: relative;
    width: 437px;
    height: 470px;
    top: -5px;
    left: -5px;
  }
  
  .slide .group-3 {
    position: absolute;
    width: 361px;
    height: 376px;
    top: 36px;
    left: 33px;
  }
  
  .slide .boys-ripped-paper {
    position: absolute;
    width: 226px;
    height: 111px;
    top: 0;
    left: 123px;
  }
  
  .slide .boys-ripped-paper-2 {
    position: absolute;
    width: 173px;
    height: 183px;
    top: 15px;
    left: 12px;
  }
  
  .slide .boys-ripped-paper-3 {
    position: absolute;
    width: 91px;
    height: 226px;
    top: 152px;
    left: 0;
  }
  
  .slide .boys-ripped-paper-4 {
    position: absolute;
    width: 290px;
    height: 129px;
    top: 331px;
    left: 2px;
  }
  
  .slide .boys-ripped-paper-5 {
    position: absolute;
    width: 190px;
    height: 145px;
    top: 325px;
    left: 247px;
  }
  
  .slide .boys-ripped-paper-6 {
    position: absolute;
    width: 139px;
    height: 333px;
    top: 45px;
    left: 298px;
  }
  
  .slide .bottom-ripped-paper {
    position: absolute;
    width: 1932px;
    height: 85px;
    top: 12663px;
    left: 902px;
  }
  
  .slide .overlap-10 {
    position: relative;
    width: 1920px;
    height: 32px;
    left: 12px;
  }
  
  .slide .bottom-ripped-paper-2 {
    position: absolute;
    width: 657px;
    height: 32px;
    top: 0;
    left: 1263px;
  }
  
  .slide .bottom-ripped-paper-3 {
    position: absolute;
    width: 657px;
    height: 32px;
    top: 0;
    left: 632px;
  }
  
  .slide .bottom-ripped-paper-4 {
    position: absolute;
    width: 645px;
    height: 32px;
    top: 0;
    left: 0;
  }
  
  .slide .top-ripped-paper {
    width: 1932px;
    height: 85px;
    left: 902px;
    position: absolute;
    top: 0;
  }
  
  .slide .overlap-11 {
    position: relative;
    width: 1920px;
    height: 36px;
    top: 49px;
    left: 12px;
  }
  
  .slide .top-ripped-paper-2 {
    width: 657px;
    height: 36px;
    left: 1263px;
    position: absolute;
    top: 0;
  }
  
  .slide .top-ripped-paper-3 {
    width: 657px;
    height: 36px;
    left: 632px;
    position: absolute;
    top: 0;
  }
  
  .slide .top-ripped-paper-4 {
    width: 645px;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
  }
  